<!-- TABS NAVIGATION FIXE -->
<nav class="top-tabs">

  <a routerLink="saisonniers"
     routerLinkActive="active"
     queryParamsHandling="preserve"
     class="tab">
    Saisonniers
  </a>

  <a routerLink="documents"
     routerLinkActive="active"
     queryParamsHandling="preserve"
     class="tab">
    Documents administratifs
  </a>

  <a routerLink="Presence&paiement"
     routerLinkActive="active"
     queryParamsHandling="preserve"
     class="tab">
    Presence et Paiement
  </a>

</nav>

<!-- CONTENU DYNAMIQUE -->
<router-outlet></router-outlet>